body {
  background-color: white;
  font-family: "Georgia", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  padding: 1.6em 0 0 0;
  color: #333;
}
h1, h2, h3, h4, h5, h6 {
  color: #444;
}
h1 { 
  font-family: sans-serif;
  font-weight: normal;
  font-size: 4em;
  line-height: 0.8em;
  letter-spacing: -0.1ex;
	margin: 5px;
}
h1 img {
  vertical-align: middle;
  margin-bottom: 10px;
}
h4 {
  margin-bottom: 0;
}
ul {
  margin-top: 0;
}
li {
  padding: 0;
  margin: 0;
  list-style-type: square;
}
a {
  color: #00266F;
  font-weight: normal;
  text-decoration: underline;
}
blockquote {
  font-size: 90%;
  font-style: italic;
  border-left: 1px solid #111;
  padding-left: 1em;
}
.caps {
  font-size: 80%;
}

#main {
  width: 715px;
  padding: 0;
  padding-right: 350px;
  margin: 0px auto;
  position: relative;
}

#sidebar {
  position: absolute;
  right: 0px;
  width: 320px;
}

.coda {
  text-align: right;
  color: #444;
  font-size: smaller;
  margin-top: 30px;
}

table {
  font-size: 90%;
  line-height: 1.4em;
  color: #ff8;
  background-color: #111;
  padding: 2px 10px 2px 10px;
	border-style: dashed;
}

th {
	color: #fff;
}

td {
  padding: 2px 10px 2px 10px;
}

.success {
	color: #0CC52B;
}

.failed {
	color: #E90A1B;
}

.unknown {
	color: #995000;
}
pre, code {
  overflow: auto;
  font-family: monospace;
  font-size: 90%;
  line-height: 1.4em;
  color: #ff8;
  background-color: #111;
  padding: 2px 10px 2px 10px;
}
.comment { color: #aaa; font-style: italic; }
.keyword { color: #eff; font-weight: bold; }
.punct { color: #eee; font-weight: bold; }
.symbol { color: #0bb; }
.string { color: #6b4; }
.ident { color: #ff8; }
.constant { color: #66f; }
.regex { color: #ec6; }
.number { color: #F99; }
.expr { color: #227; }

#version {
  width: 180px;
  font-size: 32px;
  text-align: center;
  font-family: sans-serif;
  font-weight: normal;
  background-color: #bdf;
  color: #7CBBFF;
  padding: 20px 20px 15px;
  margin: 0 auto;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

#version p {
  text-decoration: none;
	color: #141331;
	margin: 0;
	padding: 0;
}

#version a {
  text-decoration: none;
	color: #141331;
}

.version-number {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 45px;
}

.clickable {
	cursor:	pointer; 
	cursor:	hand;
}


.alpha {
  position: relative;
  top: -30px;
  font-size: 25%;
  letter-spacing: normal;
  margin-left: 5px;
  text-transform: uppercase;
}
